h2{
    color: aqua;  
    }
    marquee{
      color: magenta;
    }
    body{
      background-color:yellow;
    }
p{
 color : red; 
}
.HEADER{
  background-color: salmon;
  display: flex ;
  justify-content:space-around;
  align-items: center;
}
.ITEM{
 background-color :blueviolet; 
position : relative;
 
}
.ITEM P {
  position : absolute;
  top : 50% ;
  left : 50% ;
  transform : translate(-50%,50%);
  opacity: 0 ;
}
.ITEM :hover P{
  opacity: 1;

}
.ITEM :hover img {
  opacity: 0.33;
}